html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
.btnRegistra {
    border-block:dotted;
}
nav {
    background-color: #009EFF;
}
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}